<!DOCTYPE html>
<html lang="en" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
  <title>ExecuKey - Company Name</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css' />
	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="shell">
			<div id="container">
				<header id="header">
					<h1 id="logo"><a href="#">Company Name</a></h1>
					<div class="settingsnav">
						<a href="#">Settings</a>
						<%= link_to "Logout", "/logout", :method => :delete, :confirm => "Are you sure you want to logout?" %>
					</div>
				</header>
				<nav id="navigation">
					<a href="#" class="nav-btn">Appointments<span class="arr"></span></a>
					<ul>
						<li><a href="#">Clients</a></li>
						<li><a href="#">Technicians</a></li>
					</ul>
				</nav> 
			</div> 
		</div> 
	</div> 
 
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
